<!DOCTYPE html>
<html>
    <head>
        <title>{{title}}</title>
        <style>
            .error { color: red}
        </style>
    </head>
<body>

    <nav>
        <a href='/blog'>Back to Main Page</a>
        <br>
        <a href='/newpost'>Add a New Blog Post</a>
    </nav>

    {% with messages = get_flashed_messages(with_categories=True) %}
        <ul>
            {% for category,message in messages %}
               <li class = "{{category}}"><h3>{{message}}</h3></li> 
               {% endfor %}
        </ul>
    {% endwith %}

    {% block content %}
    {% endblock %}

</body>
</html>